
.container
{
    width:1200px ;
    margin: auto;
}

header
{
display: flex;
justify-content: space-between;
align-items: flex-end;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
    margin-bottom: 15px;

}

li a
{
    text-decoration: none;
    color: black;
}

#banniere_image
{
height: 500px;
width: 1200px;
background: url('images/backgroung_image.jpg') no-repeat;
background-size: contain;

}

#banniere_image h1
{
    color:white;
    text-align: center;
    margin-top: 180px;
    
}

.logo_image
{
    height: 55px;
    position: relative;
    top: 175px;
    left: 510px;

    

}